<!DOCTYPE HTML>
<html>
	<head>
		<title>AIRBOARD</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="google" content="notranslate">
		<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/slide.css" />
		<link rel="stylesheet" href="assets/css/input.css" />
		<style>
			#join_message {
				margin-top: 10px;
				margin-right: 20px;
				float : right;
				font-size: 20px;
				color: white;
				text-shadow: 0px 0px 2px black;
			}
			b {
				font-weight: bolder;
			}
			
			#home {
				all: unset;
				background: transparent;
				border: 2px solid black;
				padding: 0.5em 2em;
				border-radius: 50px;
				cursor: pointer;
				display: inline-block;
				font-weight: 700;
				position: relative;
				transition: all 300ms ease;
			}
			#home span {
				display: inline-block;
				transition: all 300ms ease;
			}
			table, th, td{
				text-align: center;
			}
			table {
				position:relative;
				border-collapse: collapse;
				line-height: 1.5;
				margin-bottom:30px;
			}
			table th {
				padding: 10px;
				font-weight: bold;
				vertical-align: top;
				color: #369;
				border-bottom: 3px solid #036;
			}
			table th {
				width: 130px;
				padding: 10px;
				font-weight: bold;
				vertical-align: top;
				border-bottom: 1px solid #ccc;
				background: #f3f6f7;
			}
			table td {
				width:500px;
				padding: 10px;
				vertical-align: top;
				border-bottom: 1px solid #ccc;
			}

			.btn{
				font-size:15px;
				font-weight:1000;
				float:right;
				height:35px;
				border:none;
				background-color: white;
				display: block;
				position: relative;
				overflow: hidden;
				transition: all .2s ease-in-out .2s;
				margin: 0 auto;
				text-align: center;
			}
			.btn:hover {
				color: #8cc9f0;
			}
			.btn:hover:before {
				transform: none;
				opacity: 1;
				transition-duration: 0.4s;
			}
			.btn:before {
				content: "";
				position: absolute;
				width: 90%;
				height: 2px;
				margin-left:4px;
				margin-bottom:3px;
				left: 0;
				bottom: 0px;
				background: #8cc9f0;
				transform: translateY(6px);
				opacity: 0;
				transition: 1.8s cubic-bezier(0.2, 1, 0.3, 1);
				pointer-events: none;
			}
		</style>
	</head>
	<body>
		<div id="join_message">
			<b><%= name%></b><% {%>님 안녕하세요.<% } %>
		</div>
		<!-- Wrapper -->
			<div id="wrapper">
					<header id="header" class="alt">
						<h1>계정 정보</h1>
					</header>

					<div id="main">
							<section class="main special">
								<center>
									<table>
										<tr style="border-top: 1px solid #ccc;">
											<th>
												이름
											</th>
											<td id="nameInfo">
											</td>
											<td id="nameForm">
												<input type="text" id="nextName" value=<%= name%>>
												<input type="hidden" id="email" value=<%= email%>>
												<button class="btn" style="float:right;" onclick="cancel()">취소</button>
												<button class="btn" type="submit" onclick="changeName(0)">수정</button>
											</td>
										</tr>
										<tr>
											<th>
												이메일
											</th>
											<td>
												<%= email%>
											</td>
										</tr>
									</table>
								</center>
								<button id='home' onclick="location.href='/' "> 
									<span>홈으로 가기</span>
								</button>

							</section>

					</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script>
                const nameInfo = document.getElementById('nameInfo')
                nameInfo.innerHTML = '<%= name%>&nbsp;&nbsp;<button class="btn" onclick="changeName(1)">수정'
                $("#nameForm").hide()
				function needSignUp()
				{
					swal({
						text:'로그인이 필요한 기능입니다.',
						icon:'error'
					})
				}
                function changeName(flag)
                {
                    if(flag) {
                        $("#nameInfo").hide()
                        $("#nameForm").show()
                    }
                    else {
                        nameInfo.innerHTML = '이름&nbsp;&nbsp;&nbsp;&nbsp;'+ document.getElementById('nextName').value +'&nbsp;&nbsp;<button class="btn" onclick="changeName(1)">수정'
                        $("#nameInfo").show()
                        $("#nameForm").hide()
                        sendPost()
                    }
                }
				function cancel(){
					$("#nameInfo").show()
                    $("#nameForm").hide()
				}
                function sendPost()
                {
					
                    var form = document.createElement('form')
                    form.setAttribute('method', 'post')
                    form.setAttribute('action', 'home/changeName')
                    var hiddenField = document.createElement('input')
                    hiddenField.setAttribute('type', 'hidden')
                    hiddenField.setAttribute('name', 'nextName')
                    hiddenField.setAttribute('value', document.getElementById('nextName').value)
                    form.appendChild(hiddenField)
                    var hiddenField2 = document.createElement('input')
                    hiddenField2.setAttribute('type', 'hidden')
                    hiddenField2.setAttribute('name', 'email')
                    hiddenField2.setAttribute('value', document.getElementById('email').value)
                    form.appendChild(hiddenField2)
                    document.body.appendChild(form)
                    form.submit()
				}
			</script>
	</body>
</html> 